<!--<html>-->
<!--<head>-->
<!--</head>-->
<!--<body>-->
<!--<h1>user management</h1>-->
<!--<form action="/getUser" method="post">-->
    <!--<input type="text" name="Forename" placeholder="Forename"/>-->
    <!--<input type="text" placeholder="Surname"/>-->
    <!--<br>-->
    <!--<input type="text" name = "UserName" placeholder="email or username"/>-->
    <!--<input type="password" placeholder="password"/>-->
    <!--<label>Temporary Password</label>-->
    <!--<input type="checkbox" placeholder="Temporary Password"/>-->
    <!--<br>-->
    <!--<select name="Roles" multiple size="4">-->
        <!--<option value="PersonAdmin">PersonAdmin</option>-->
        <!--<option value="PPAdmin">PPAdmin</option>-->
        <!--<option value="PCSAdmin">PCSAdmin</option>-->
        <!--<option value="AssessmentsAdmin">AssessmentsAdmin</option>-->
    <!--</select>-->
    <!--<br>-->
    <!--<select name="Local Offices" multiple size="4">-->
        <!--<option value="North East">North East</option>-->
        <!--<option value="North West">North West</option>-->
        <!--<option value="South West">South West</option>-->
        <!--<option value="Thames Valley">Thames Valley</option>-->
    <!--</select>-->
    <!--<input type="submit" value="Submit" >-->

<!--</form>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>User search</title>
</head>
<body>

<div class="container">

    <h1>User Search</h1>

    <!--<p>-->
        <!--<a href="/notesEdit" th:href="@{/notesEdit}">Create</a>-->
    <!--</p>-->

    <form th:object="${userName}" th:action="@{/getUser1}" method="get">
    <!--<form action="/getUser1" method="get"-->
        Search by userName: <input type="text" id = "user" name = "user" th:value="${user}" placeholder="email or username"/>

        <input type="submit">
        <!--<a href="/getUser1/" th:href="@{/usermanagement/__${UserName}__}">Edit</a>-->
        <!--<a href= "/getUser1">Search</a>-->
    <table class="table">
        <thead>
        <tr>
            <th>User Name</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    </form>
</div>
</body>
</html>