<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table {
            width:100%;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 15px;
            text-align: left;
        }
    </style>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>

<body>
<table>
    <tr>
        <th>Username</th>
        <th>Forenames</th>
        <th>Surname</th>
        <th>Email Address</th>
        <th></th>

    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}">name</td>
        <td th:text="${user.firstName}">firstName</td>
        <td th:text="${user.lastName}">firstName</td>
        <td th:text="${user.emailAddress}">email</td>
        <td><a th:href="@{'/user/' + ${user.name}}">Edit</a></td>

    </tr>
</table>
</body>
</html>