<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1">
        <link rel="stylesheet"
              href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
              integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
              crossorigin="anonymous">

        <!--[if lte IE 8]>
   <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
   <![endif]-->
        <!--[if gt IE 8]><!-->
        <link rel="stylesheet"
              href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
        <!--<![endif]-->

        <title>Edit User</title>
        <style>
            .main-form, .delete-form {
         display: block;
      }

      .delete-form button {
         position: absolute;
         margin-left: 370px;
         margin-top: -52px;
      }

      fieldset {
         border-style: hidden;
      }

      .delete-form {
         margin-left: -100px;
      }

      #trusts {
         max-width: 500px;
      }

   </style>
    </head>

    <body>
        <div class="pure-g">
            <div class="pure-u-1-5"></div>
            <div class="pure-u-3-5">
                <a th:href="@{'/allUsers'}">Back</a>
            </div>
            <div class="pure-u-1-5"></div>

            <div class="pure-u-1-5"></div>
            <div class="pure-u-3-5">
                <h1>Edit User</h1>
            </div>
            <div class="pure-u-1-5"></div>

            <div class="pure-u-1-5"></div>
            <div class="pure-u-3-5">
                <form class="pure-form-aligned main-form"
                      th:method="post"
                      th:action="@{'/updateUser'}"
                      th:object="${user}">
                    <fieldset>
                        <legend>User Properties</legend>
                        <div class="pure-control-group">
                            <label for="username">Username</label>
                            <input id="username"
                                   name="username"
                                   type="text"
                                   readonly
                                   th:field="${user.name}">
                        </div>
                        <div class="pure-control-group">
                            <label for="forenames">Forenames</label>
                            <input id="forenames"
                                   name="forenames"
                                   type="text"
                                   required
                                   th:field="${user.firstName}">
                        </div>
                        <div class="pure-control-group">
                            <label for="surname">Surname</label>
                            <input id="surname"
                                   name="surname"
                                   type="text"
                                   required
                                   th:field="${user.lastName}">
                        </div>
                        <div class="pure-control-group">
                            <label for="email">Email</label>
                            <input id="email"
                                   name="email"
                                   type="email"
                                   required
                                   th:field="${user.emailAddress}">
                        </div>
                        <div class="pure-control-group">
                            <label for="active">Active</label>
                            <input type="checkbox"
                                   id="active"
                                   name="active"
                                   th:checked="${user.active}">
                        </div>
                        <div class="pure-control-group">
                            <label for="gmcId">GMC ID</label>
                            <input id="gmcId"
                                   name="gmcId"
                                   type="text"
                                   th:field="${user.gmcId}">
                        </div>
                        <div class="pure-control-group">
                            <label for="roles">Roles</label>
                            <select multiple
                                    id="roles"
                                    name="roles"
                                    size="10">
                                <option th:each="role : ${roles}"
                                        th:value="${role}"
                                        th:text="${role}"
                                        th:selected="${#lists.contains(user.roles, role)}"></option>
                            </select>
                        </div>

                        <div class="pure-control-group">
                            <label for="designatedBodyCodes">Designated Body Codes</label>
                            <select multiple
                                    id="designatedBodyCodes"
                                    name="localOffices"
                                    size="10">
                                <option th:each="dbc : ${designatedBodyCodes}"
                                        th:value="${dbc.dbc}"
                                        th:text="${dbc.name} + ' - ' + ${dbc.abbr}"
                                        th:selected="${#lists.contains(user.localOffices, dbc.dbc)}"></option>
                            </select>
                        </div>

                        <div class="pure-control-group">
                            <label for="trusts">Trusts (associating a trust with a user will turn them into trust
                                users)</label>
                            <select multiple
                                    id="trusts"
                                    name="associatedTrusts"
                                    size="10">
                                <option th:each="trust : ${trusts}"
                                        th:value="${trust.id}"
                                        th:text="${trust.code} + ' - ' + ${trust.trustName}"
                                        th:selected="${#lists.contains(user.associatedTrusts, #strings.toString(trust.id))}"></option>
                            </select>
                        </div>

                        <div class="pure-control-group">
                            <label for="programmes">Programmes (associating a programme with a user will turn them into
                                programme observers)</label>
                            <select multiple
                                    id="programmes"
                                    name="associatedProgrammes"
                                    size="10">
                                <option th:each="programme : ${programmes}"
                                        th:value="${programme.id}"
                                        th:text="${programme.programmeName} + ' - ' + ${programme.programmeNumber}"
                                        th:selected="${#lists.contains(user.associatedProgrammes, #strings.toString(programme.id))}"></option>
                            </select>
                        </div>

                        <div hidden>
                            <input id="kcId"
                                   type="text"
                                   th:field="${user.kcId}">
                        </div>
                        <div class="pure-controls">
                            <button type="submit"
                                    class="pure-button pure-button-primary">Submit</button>
                        </div>
                    </fieldset>
                </form>
                <form class="pure-form-aligned delete-form"
                      th:method="post"
                      th:action="@{/deleteUser}"
                      th:object="${user}">
                    <fieldset>
                        <input name="username"
                               type="hidden"
                               th:field="${user.name}">
                        <button type="submit"
                                class="pure-button pure-button-primary">Delete</button>
                    </fieldset>
                </form>
                <form class="pure-form-aligned update-password-form"
                      th:method="post"
                      th:action="@{/updatePassword}"
                      th:object="${userPassword}">
                    <fieldset>
                        <legend>Password</legend>
                        <div hidden>
                            <input id="kcId"
                                   type="text"
                                   th:field="${userPassword.kcId}">
                        </div>
                        <div class="pure-control-group">
                            <label for="password">Password</label>
                            <input type="password"
                                   id="password"
                                   name="password"
                                   minlength="8"
                                   required
                                   placeholder="minimum 8 characters"
                                   th:field="${userPassword.password}">
                        </div>
                        <div class="pure-control-group">
                            <label for="confirmPassword">Confirm Password</label>
                            <input type="password"
                                   id="confirmPassword"
                                   name="confirmPassword"
                                   minlength="8"
                                   required
                                   placeholder="minimum 8 characters"
                                   th:field="${userPassword.confirmPassword}">
                        </div>
                        <div class="pure-control-group">
                            <label for="tempPassword">Temporary Password</label>
                            <input type="checkbox"
                                   id="tempPassword"
                                   name="tempPassword"
                                   th:checked="${userPassword.tempPassword}">
                        </div>
                    </fieldset>
                    <div class="pure-controls">
                        <button type="submit"
                                class="pure-button pure-button-primary">Submit</button>
                    </div>
                </form>
            </div>
            <div class="pure-u-1-5"></div>
        </div>
    </body>

</html>
