<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Notification</title>
</head>
<body>
<div>
  <p>
    Dear users,
    <br/><br/>
    User Management is now under maintenance. We're doing switchover to a new authentication application.<br/>
    Details and updates about this maintenance will be available on Teams (TIS Support Channel - General).
    <br/><br/>
    We apologise for any inconvenience this may cause, and thank you for your understanding.<br/>
    If you require additional support during this period modifying user access, please contact us via. usual support channels.
    <br/><br/><br/>
    Sincerely,
    <br/><br/>
    TIS Team
  </p>
</div>
</body>
</html>
