<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Notification</title>
</head>
<body>
<div>
  <p>
    Dear users,
    </br></br></br>
    User Management is now in maintenance. We're doing switchover to a new authentication application.</br>
    During the switchover, you are not able to create/update/delete any users,
    and we will notify you on Teams (TIS Support Channel - General) when the switchover is completed.
    </br></br>
    We apologise for any inconvenience this may cause, and thank you for your understanding.
    </br></br></br>
    Sincerely,
    </br></br>
    TIS Team
  </p>
</div>
</body>
</html>